.modelBox {
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.modelBox .model {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    max-width: 500px;
    box-shadow: 0 0 15px #333;
    border-radius: 5px;
}
.modelBox .model > div {
    padding: 15px;
}
.modelBox .model .model-head {
    border-bottom: 1px solid #999;
}