/* Right section */
.cursor {
    cursor: pointer;
}
.dataListTable {
    width: 100%;
}
.dataListTable td {
    padding: 10px 5px;
}

#tooltip {
    background: cornsilk;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
  }