<div class="left-section">
  <div class="sidebarlist top_bar">
    <div>Details</div>
    <div>Type</div>
    <div>Delay</div>
  </div>
  <div class="scrollerDiv">


    <div tooltip="<p>Magnitude of delay <b>{{incident.magnitudeDetails}}</b></p> <p><b>From: </b>{{incident.from}}</p>
      <p><b>To: </b>{{  incident.to}}</p>
      <p><b>Details: </b> {{incident.details}}</p>" show-delay="300" placement="top" class="sidebarlist list"
      *ngFor="let incident of incidentLists;" (click)="modelEvent(incident)">

      <div>{{incident.details}}</div>
      <div>{{incident.incident}}</div>
      <div>{{incident.delay | delay}}</div>

    </div>
  </div>
</div>

<app-pop-up [incidentValue]="modalIncident" [show]="show" (popup)="modelEvent($event)"></app-pop-up>