/**/
.sidebarlist {
    display: flex;
    align-items: center;
  
}
.sidebarlist div {
    width: 100%;
    padding: 5px;
    word-break: break-all;
}
.sidebarlist div:last-child {
    max-width: 60px;
}
.sidebarlist div:nth-child(2) {
    max-width: 70px
}
.sidebarlist.list {
    cursor: pointer;
    padding: 5px 0;
    border-bottom: 1px solid #022e40;
}
.sidebarlist.list:hover {
    background: #16151542;
}
/**/
.top_bar .avtar img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


/* left section */
.left-section {
    background: rgba(2, 46, 64, 0.001);
    box-shadow: 0 0px 3px 2px #666;
}

.scrollerDiv {
    overflow-y: auto;
    height: calc(100vh - 52px);
    display: block;
}

.top_bar {
    height: 50px;
    min-height: 50px;
    width: 100%;
    display: flex;
    background: #022e40;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-bottom: 1px solid #efefef;
}
.avtar {
    position: relative;
}
