<div id="listView" class="left-section">
  <div class="sidebarlist top_bar">
    <div>Details</div>
    <div>Type</div>
    <div>Delay</div>
  </div>
  <div class="scrollerDiv">
    <div hide-delay="0" trigger="hover" tooltip="<p>Magnitude of delay <b>{{incident.magnitudeDetails}}</b></p> <p><b>From: </b>{{incident.from}}</p>
      <p><b>To: </b>{{  incident.to}}</p>
      <p><b>Details: </b> {{incident.details}}</p>"  placement="top" class="sidebarlist list"
      *ngFor="let incident of incidentLists;" 
      [attr.id]="incident.id">
        <div [attr.id]="incident.id">{{incident.details}}</div>
        <div [attr.id]="incident.id">{{incident.incident}}</div>
        <div [attr.id]="incident.id">{{incident.delay | delay}}</div>
    </div>
  </div>
</div>